/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */




article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
display: block;
}

::selection {
background: #72d0eb;
color: #ffffff;
text-shadow: none;
}




html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
font-family: "Helvetica Neue", Arial, sans-serif;
font-size: 62.5%;
line-height: 1.5em;

}

html {
font-size: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper{
	margin: 0; padding: 0em; border-bottom: 1px solid #ececec; 
}


.main #poster{
		background: url(../img/park.jpg);
		background-repeat: no-repeat;
		height:500px;
		padding:40px;
		margin: auto;
		width:60%;
}


h1, h2, p, ul{
	margin:0;
	font-family: condiment, sans-serif;
}

/*
  Navigation
*/
#navbar ul { 
margin: 0; 
padding: 5px; /* Set margin and padding for cross browser consistency. */ 
list-style-type: none; /* Needed to eliminate list item marker */ 
text-align: right; /* aligns navigation bar */ 
background-color: #22884f; /* Set as desired */ 
} 

#navbar ul li { 
display: inline; /* Needed to create horizontal effect */ 
} 

#navbar ul li a { 
text-decoration: none; /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ 
padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
color: #fff; /* Set as desired */ 
background-color: #22884f; /* Set as desired */ 
} 

#navbar ul li a:hover { 
color: #000; 
background-color: #fff; /* Both of these values create the "Rollover effect, Set as desired */ 
} 

/*
	Second Nav
*/


#secondnav ul { 
margin: 0; 
padding: 5px; /* Set margin and padding for cross browser consistency. */ 
list-style-type: none; /* Needed to eliminate list item marker */ 
text-align: center; /* aligns navigation bar */ 
background-color: #007439; /* Set as desired */ 
} 
#secondnav ul li { 
display: inline; /* Needed to create horizontal effect */ 
} 

#secondnav ul li a { 
text-decoration: none; /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ 
padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
color: #fff; /* Set as desired */ 
background-color: #007439; /* Set as desired */ 
} 

#secondnav ul li a:hover { 
color: #000; 
background-color: #fff; /* Both of these values create the "Rollover effect, Set as desired */ 
} 

#secondnav ul li p {
}


/*
Introduction
*/

#wrapper .main #intro {
	display:block;
	text-align:center;
}


/*
Content
*/


sub{
	margin: 0px auto;

}

ol.sub{
	list-style-type: none;
	width: 100%;
	float: left;
	margin: 30px auto;
	margin-left:15px;
	padding: 0;
}

ol.sub li{
	line-height: 1.5em;
	float:left;
	font-size: 13px;
	width: 30%;
	margin: 1px auto;
	padding:1%;
}

/* Donate Section */
section#midpoint#midpoint {
padding-bottom: 124px;
}
section#midpoint {
background: url('img/SpiritDetroit.png') no-repeat center center #c6d2c6;
}

.mega {
float: left;
width: 100%;
min-width: 985px;
clear: both;
pos: relative;
z-index: 2;
}


section#midpoint#midpoint #pos {
  width: 700px;
  padding: 124px 20px 0;
  margin: 0 auto;
}
section#midpoint#midpoint #pos h2 {
  font-family: "FS Albert Web Bold", "Helvetica Neue", Arial, sans-serif;
  font-size-adjust: 0.49;
  font-weight: bold;
  font-style: normal;
  font-size: 3.6em;
  letter-spacing: -0.03em;
  line-height: 0.78em;
  text-align: center;
}
section#midpoint#midpoint #pos h2 {
  font-family: "Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust: 0.488;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0 0 10px 0;
  padding: 32px 0 0 0;
  text-align: center;
}
section#midpoint#midpoint #pos p {
  width: 660px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.5em;
}
section#midpoint#midpoint #pos ul {
 list-style-type: none;
  float: left;
  width: 100%;
  margin: 70px 0 80px 0;
}
section#midpoint#midpoint #pos ul li {
  float: left;
  width: 660px;
  padding: 0 20px;
  border-bottom: 1px solid #199413;
}
section#midpoint#midpoint #pos ul li:last-child {
  border: none;
}
section#midpoint#midpoint #pos ul li a {
  float: left;
  color: #2f353e;
  padding: 24px 0;
}
section#midpoint#midpoint #pos ul li a:hover #details.bigbutton {
  background-color: #7ebd26;
}
section#midpoint#midpoint #pos ul li a:active #details.bigbutton {
  background-color: #70a822;
}
section#midpoint#midpoint #pos ul li a .title {
  float: left;
  width: 535px;
  overflow: hidden;
  display: block;
}
section#midpoint#midpoint #pos ul li a .title h3 {
  font-family: "FS Albert Web Bold", "Helvetica Neue", Arial, sans-serif;
  font-size-adjust: 0.49;
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  letter-spacing: -0.03em;
  line-height: 1.5em;
}
section#midpoint#midpoint #pos ul li a .title h4 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #adb3b9;
  text-transform: uppercase;
  font-weight: bold;
}
section#midpoint#midpoint #pos ul li a #details {
  float: right;
  width: 55px;
  text-align: center;
  color: #adb3b9;
  min-height: 10px;
  overflow: hidden;
  margin-top: 10px;
}
section#midpoint#midpoint #pos ul li a #details.bigbutton {
  display: inline-block;
  *display: inline;
  font-size: 1.3em;
  -khtml-border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background: url('../images/global/arrow_right_white.gif') right center no-repeat #19a9e5;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 15px 9px 15px;
  font-size: 1.2em;
  background-pos: 90% center;
}
section#midpoint#midpoint #pos ul li a #details.bigbutton:hover {
  background-color: #7ebd26;
}
section#midpoint#midpoint #pos ul li a #details.bigbutton:active {
  background-color: #70a822;
}
/*inspired by campmonitor*/
/* Donate End */

footer ul{
margin: 0; 
padding: 5px; /* Set margin and padding for cross browser consistency. */ 
list-style-type: none; /* Needed to eliminate list item marker */ 
text-align: left; /* aligns navigation bar */ 
background-color: #22884f; /* Set as desired */

}
footer {
float: left;
width: 100%;
min-width: 985px;
position: relative;
color: #c3cbd3;
background: #f2f2f3;
display: block;
font-size: 100%;
}
footer#bottom {
border-top: none !important;

}
footer#bottom {
background: none;
float: none;
clear: both;
border-top: 1px solid #e0e5e9;

}

footer#bottom ul li{
display:inline;
}

footer#bottom ul a{
text-decoration: none; /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ 
padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
color: #fff; /* Set as desired */ 
background-color: #22884f; /* Set as desired */ 
}



/* Contact Page */
#contactleft{
margin: 70px 25px 10px 80px;
float: left;
font-size: 100%;
line-height: 3em;
}
#contactright{
float: right;
margin:70px 300px 10px 35px;
width: 400px;
height:250px;
}

#contactright p{
line-height: 1.3em; 
font-size: 13px;
text-align: left;
margin: 1px auto;
}

#locad{
clear:both;
margin:10px auto;
display:block;
text-align:center;
}

/* Team Page */
.l-box {
padding: 1em;
background-color: #eee;
margin: 20px auto;
width:850px;
}
.r-box {
padding: 1em;
background-color: #eee;
margin: 20px auto;
width:850px;
text-align: right;
}

user agent stylesheetdiv {
display: block;
}
#it{
margin:30px auto;
text-align: center;
font-size: 30px;
}


/* ==========================================================================
   Park Page
   ========================================================================== */

#head h1{
	margin-top: 40px;
	text-align:center;
}
#head p{
	font-size: 13px;
	line-height: 1.3em;
}
#head{
	width: 40%;
	margin: 1px auto;
}
.boxes h2{
	margin-top: 40px;
	text-align:center;
	clear: both;
}
.boxes #before{
	display:inline-block;
	margin-left: 300px;
}
.boxes #after{
	display:inline-block;
	margin-left: 500px;
}
.a-box {
padding: 1em;
background-color: #eee;
margin: 20px 170px;
width:400px;
float:left;
}
.b-box {
padding: 1em;
background-color: #eee;
margin: 20px auto;
width:400px;
text-align: right;
float:left;
}

user agent stylesheetdiv {
display: block;
}




/* ==========================================================================
  Contact Page
*/ ===========================================================================
#contactleft { width: 300px; }
label { float: left; width: 150px; }
input[type=text] { float: left; width: 150px;  }
.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }


#map_canvas{
position: relative;
overflow: hidden;
float: none;
clear:both;
margin:20px 100px 10px 350px;
width: 600px;
height:450px;
background-color:#000000;
}

/* ==========================================================================
   Map Location
   ========================================================================== */

#map-location{
	display:block;
	background:#f3f3f3;
	background-position: center;
	height:250px;
	transition: background-image 1s;
	padding:20px;
	margin-top:100px;
	margin-bottom:70px;
	
	
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
