<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset-utf-8"
	<title> </title>
	<style type = "text/css" media="screen">
	.wrap{
		margin: 3% ;
		}
		
	article{
		width: 220px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #f3f3f3;
	}
	
	footer {
		clear: both;
	}
	</style>
	

</head>

<body>
	<div class="wrap">
		<header>
			<h1> This is a header </h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
						<article>
				<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum augue vitae tortor consectetur, sed consectetur odio sodales. Donec mattis, lorem ut elementum tempor, tellus lacus sodales neque, sed lobortis libero erat at nisl. Nam ut rhoncus purus. Vivamus eu imperdiet purus, a aliquet massa. Nulla facilisi.
		In vehicula arcu libero, vel volutpat neque consectetur sit amet. Duis at placerat tortor, non elementum dui.
		</p>
			</article>
		</section>

		<footer>
			<p> This is a footer </p>
		</footer>
	
	</div>
</body>

</html>